
# System Files
.DS_Store

# Large Media Files
*.mov
*.mp4
*.avi
*.mkv

# Dependencies
node_modules/
dist/
build/

# Large model files and outputs
Projects/CustomerAssistantBot/model_output/
Projects/CustomerAssistantBot/*.zip
vrindaBot/
