[submodule "Projects/VrindaVaani"]
	path = Projects/VrindaVaani
	url = ../Sant-Vaani.git
[submodule "Projects/Sakha"]
	path = Projects/Sakha
	url = ../Sakha.git
[submodule "Projects/HitSoochi"]
	path = Projects/HitSoochi
	url = ../Hit-Soochi.git
[submodule "Projects/Vrinda-Tours"]
	path = Projects/Vrinda-Tours
	url = ../Vrinda-Tours.git
[submodule "Projects/Cloud-Kitchen"]
	path = Projects/Cloud-Kitchen
	url = ../Foody-Vrinda.git
[submodule "Projects/SkillTadka"]
	path = Projects/SkillTadka
	url = ../skillTadka.git
[submodule "Projects/DevDashboard"]
	path = Projects/DevDashboard
	url = ../DevDashboard.git
[submodule "Projects/WATERMARK ADDER"]
	path = Projects/WATERMARK ADDER
	url = ../Company-WATERMARK-ADDER.git
	branch = main
[submodule "Projects/NPMDevRun"]
	path = Projects/NPMDevRun
	url = ../Company-NPMDevRun.git
	branch = main
[submodule "Projects/Trials"]
	path = Projects/Trials
	url = ../Company-Trials.git
	branch = main
[submodule "Projects/Video"]
	path = Projects/Video
	url = ../Company-Video.git
	branch = main
[submodule "Projects/Vrinda Chat"]
	path = Projects/Vrinda Chat
	url = ../Company-Vrinda-Chat.git
	branch = main
[submodule "Projects/offline web"]
	path = Projects/offline web
	url = ../Company-offline-web.git
	branch = main
[submodule "Projects/showcase"]
	path = Projects/showcase
	url = ../Company-showcase.git
	branch = main
[submodule "Projects/telegramBot"]
	path = Projects/telegramBot
	url = ../Company-telegramBot.git
	branch = main
[submodule "Projects/timePass"]
	path = Projects/timePass
	url = ../Company-timePass.git
	branch = main
[submodule "Projects/Usable Cloned Code"]
	path = Projects/Usable Cloned Code
	url = ../Company-Usable-Cloned-Code.git
	branch = main
[submodule "Projects/Web dev"]
	path = Projects/Web dev
	url = ../Company-Web-dev.git
	branch = main
[submodule "Projects/chatbot"]
	path = Projects/chatbot
	url = ../Company-chatbot.git
	branch = main
[submodule "Projects/complaintService"]
	path = Projects/complaintService
	url = ../Company-complaintService.git
	branch = main
[submodule "Projects/getMe"]
	path = Projects/getMe
	url = ../Company-getMe.git
	branch = main
[submodule "Projects/3DWeb"]
	path = Projects/3DWeb
	url = ../Company-3DWeb.git
	branch = main
[submodule "Projects/VrindopnishadApps"]
	path = Projects/VrindopnishadApps
	url = ../Company-VrindopnishadApps.git
	branch = main
[submodule "Projects/bakery"]
	path = Projects/bakery
	url = https://github.com/ImBajrangi/bakery.git
[submodule "Projects/blogVrinda"]
	path = Projects/blogVrinda
	url = ../blogVrinda.git
[submodule "Vrindopnishad Web/Pictures"]
	path = Vrindopnishad Web/Pictures
	url = https://github.com/ImBajrangi/ChitraVrinda.git
