[submodule "Projects/VrindaVaani"]
	path = Projects/VrindaVaani
	url = https://github.com/ImBajrangi/Sant-Vaani.git
[submodule "Projects/Sakha"]
	path = Projects/Sakha
	url = https://github.com/ImBajrangi/Sakha.git
[submodule "Projects/HitSoochi"]
	path = Projects/HitSoochi
	url = https://github.com/ImBajrangi/Hit-Soochi.git
[submodule "Projects/Vrinda-Tours"]
	path = Projects/Vrinda-Tours
	url = https://github.com/ImBajrangi/Vrinda-Tours.git
[submodule "Projects/Cloud-Kitchen"]
	path = Projects/Cloud-Kitchen
	url = https://github.com/ImBajrangi/Foody-Vrinda.git
[submodule "Projects/SkillTadka"]
	path = Projects/SkillTadka
	url = https://github.com/ImBajrangi/skillTadka.git
[submodule "Projects/DevDashboard"]
	path = Projects/DevDashboard
	url = https://github.com/ImBajrangi/DevDashboard.git
[submodule "Vrindopnishad Web"]
	path = Vrindopnishad Web
	url = https://github.com/ImBajrangi/Vrindopnishad-Web.git
	branch = main
[submodule "Projects/WATERMARK ADDER"]
	path = Projects/WATERMARK ADDER
	url = https://github.com/ImBajrangi/Company-WATERMARK-ADDER.git
	branch = main
[submodule "Projects/NPMDevRun"]
	path = Projects/NPMDevRun
	url = https://github.com/ImBajrangi/Company-NPMDevRun.git
	branch = main
[submodule "Projects/Trials"]
	path = Projects/Trials
	url = https://github.com/ImBajrangi/Company-Trials.git
	branch = main
[submodule "Projects/Video"]
	path = Projects/Video
	url = https://github.com/ImBajrangi/Company-Video.git
	branch = main
[submodule "Projects/Vrinda Chat"]
	path = Projects/Vrinda Chat
	url = https://github.com/ImBajrangi/Company-Vrinda-Chat.git
	branch = main
[submodule "Projects/LoginPage"]
	path = Projects/LoginPage
	url = https://github.com/ImBajrangi/Company-LoginPage.git
	branch = main
[submodule "Projects/offline web"]
	path = Projects/offline web
	url = https://github.com/ImBajrangi/Company-offline-web.git
	branch = main
[submodule "Projects/showcase"]
	path = Projects/showcase
	url = https://github.com/ImBajrangi/Company-showcase.git
	branch = main
[submodule "Projects/telegramBot"]
	path = Projects/telegramBot
	url = https://github.com/ImBajrangi/Company-telegramBot.git
	branch = main
[submodule "Projects/timePass"]
	path = Projects/timePass
	url = https://github.com/ImBajrangi/Company-timePass.git
	branch = main
[submodule "Projects/Usable Cloned Code"]
	path = Projects/Usable Cloned Code
	url = https://github.com/ImBajrangi/Company-Usable-Cloned-Code.git
	branch = main
[submodule "Projects/Web dev"]
	path = Projects/Web dev
	url = https://github.com/ImBajrangi/Company-Web-dev.git
	branch = main
[submodule "Projects/chatbot"]
	path = Projects/chatbot
	url = https://github.com/ImBajrangi/Company-chatbot.git
	branch = main
